.container {
  margin-left: 2%;
}

/* .container div:nth-child(1) {
  box-shadow: 0px 0px 8px 0px #facc15;
}

.container div:nth-child(2) {
  box-shadow: 0px 0px 8px 0px #60a5fa;
}

.container div:nth-child(3) {
  box-shadow: 0px 0px 8px 0px #4ade80;
}

.container div:nth-child(4) {
  box-shadow: 0px 0px 8px 0px #f87171;
} */
